.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.text {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 15px;
  margin-left: 15px;
}
.imagesContainer {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-right: 15px;
}

.image {
  opacity: 0.7;
  width: 30%;
  transition: all 0.3s ease-in-out;
}

.image:hover {
  opacity: 1;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .text {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 15px;
    margin-left: 15px;
  }
  .imagesContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-right: 15px;
  }
}
